# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.dist/
.build/
.python-version

# venv / Poetry
.venv/
poetry.lock

# pytest / tools
.pytest_cache/
.ruff_cache/
.mypy_cache/

# notebooks
.ipynb_checkpoints/

# env/config
.env
config/config.yaml

# data
/data/*
!/data/.gitkeep

# Docker
*.log

# IDE
.vscode/
.idea/
